extends layout
include mixins/categories
include mixins/date-time
include mixins/pagination

block content
  main.articles-category
    h1= category.name
    +categories('articles-category__theme-list', id)

    section.articles-category__list.preview
      h2.visually-hidden Список превью статей

      include partials/articles-list

    +pagination(page, totalPages, 2, `/articles/category/${id}?`)
