extends layout
include mixins/date-time
include mixins/search-text

block content
  main
    section.search-page
      .search-page__wrapper(
        class=`${(!results.length && search) ? 'search-page__wrapper--empty' : ''}`
        style={
          height: 'auto',
          ['min-height']: '610px',
          ['padding-bottom']: '1px'
        }
      )
        h1 Поиск
        .search.search-page__form
          form(action='/search' method='get')
            label
              input(type='search' name='search' placeholder='Что ищем?' value=search)
            button.search__button.button.button--transparent(type='submit') Найти

          if results.length
            each article in results
              .search__result
                +dateTime(article.updatedAt)(class='.search__date')
                +searchText(article, search)
        if (!results.length && search)
          p.search-page__empty Ничего не нашлось
